<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key={{{gAPIkey}}}&libraries=places&callback=initAutocomplete" async defer></script>
</html>
